.card-display-show{
    display: flex;
    width: 70%;
    margin: 0 auto;
    min-height: fit-content;
    flex-wrap: wrap;
    justify-content: space-around;
    

    gap: 15px;
    border-radius: 5px;
    
    padding: 5px;
   
}
.card-exists-imager{
    display: flex;
    
}
 .card-exists-image{
    display: flex;
    border-radius:5px;
    flex-direction: column;
    background-color: #D6CADD;
    width: 100%;
    min-height: fit-content;
    flex-wrap: wrap;
   justify-content: center;

    width: 300px;
    height: 150px;

    

}
 .card-exists-image div{
    display: flex;
    
    cursor: pointer;
    
 
   justify-content: center;

  


}

 .card-exists-image > .image-revenues-justify img{
   
  
    

    width: 100%;
    height: 200px;
    background-size: cover;
    object-fit: cover;
    opacity: 0.9;

    transition: opacity .9s ease-in-out;


}
 .card-exists-image:hover > .image-revenues-justify img{
 

    opacity: 1;
   
    
    

}
.p-card-construction:first-child{
    background-color: #D6CADD;
    color: #14213d;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px 5px 15px 15px;

}
.p-card-construction:nth-child(3){
  
    background-color: #D6CADD;
    padding: 5px;
   
    
}

.p-card-ingredients{
    display: flex;
    

}
.p-card-ingredients > button{
    background-color: #4d4a46;
    color: #FFFFFF;
    width: 100%;
    border: none;
    border-radius: 0px 0 0 5px ;
    padding: 5px;
  
    cursor: pointer;
}
 .p-card-ingredients > button:hover{
    background-color: #000000;

} 
.p-card-ingredients > button:nth-child(2){
  
    border-radius: 0 0 5px 0 ;
   
}
.p-card-ingredients > button:hover:nth-child(2){
    background-color: #000000;
    border-radius: 0 0 5px 0 ;
    cursor: pointer;
    
}


/* .p-card-ingredients > button:hover {
    background-color: #B8860B; /* Dourado mais intenso */
    /* cursor: pointer; */
/*  */

.display-register-ingredient{
    display: flex;
    position:fixed;
    flex-direction: column;
    background:linear-gradient(to top right, #2e3138,#4f515c,#2e3138);
    color: #fff;
    inset: 0;
    z-index: 222;
    width: 350px;
    height: fit-content;

    margin: 5% auto;

    
    height: fit-content;
    min-height: 350px;
    align-items: center;
    border-radius: 5px;
}
.display-register-ingredient p{
    font-size: 15px;
   text-align: center;
   padding-inline: 20px;
   

}
.display-register-ingredient h3{
    color: #ffe6a7;
    font-weight: 700;
    font-size: 25px;

}

.display-register-ingredient .closeButton{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 800;
    box-shadow: 1px 3px 5px #550c18,
    inset 1px 3px 5px #550c18;
    border-radius: 500px;
    width: 150px;
    height: 40px;
    cursor: pointer;
    color: #fff;
    border: none;
    margin: 15% auto;
    background:linear-gradient(to top right, #49111c,#6f1d1b,#6e0d25);
    transition: all .5s ease-in-out;

}

.display-register-ingredient .closeButton:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 800;
    transform: scale(1.05);
    box-shadow: 2px 2px 2px 2px #78000067,
    inset 1px 2px 1px 2px #78000067;
    border-radius: 500px;
    width: 150px;
    height: 40px;
    color: #fff;
    border: none;
    margin: 15% auto;
    background:linear-gradient(to top right, #6e0d25,  #49111c, #6f1d1b);

}


.tableConstruct > p {
    display: flex;
    
    width: 100px;

}
.tableConstruct{
    display: flex;
    
    width: 100%;
    justify-content: center;
}
/* .display-register-ingredient button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    width: 100px;
    height: 25px;
    background-color: #4A0072;
    color: #fff;
    font-size: 20px;
    font-weight: 600px;

    transition: all .4s ease-in-out;

} */
.viewIngredients button:hover{
    transform: scale(1.08);
}

/* .closeButton{
    display: flex;
    padding: 5px;
    background-color: red;
    color: #fff;
    margin-inline:5px;
} */
.painel-crud{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    background: linear-gradient(to left bottom, #4141492d,#5558583a);
    height: fit-content;
    width: 55px;
    border-radius: 0 5px 5px 0;
    align-items: center;

}
.card-display-show .painel-crud  .closeButton{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 800px;
    box-shadow: 1px 3px 5px #550c18,
    inset 1px 3px 5px #550c18;

    width: 35px;
    height: 30px;
    cursor: pointer;
    color: #fff;
    border: none;
    margin: 15% auto;
    background:linear-gradient(to top right, #49111c,#6f1d1b,#6e0d25);
    transition: all .5s ease-in-out;

}

.editButton{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 800px;
    box-shadow: 
     1px 2px 3px #00b4d8;

    width: fit-content;
    padding-inline: 4px;
    height: 30px;
    cursor: pointer;
    color: #fff;
    border: none;
    margin: 15% auto;
    background:linear-gradient(to top right, #03045e,#060886,#070996);
    transition: all .5s ease-in-out;
}

@media (max-width:450px){
    .card-exists-imager{
        display: flex;
        width: 250px;
        margin: 0 auto;
    }
}

